/*geral*/
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100%;
    margin: 0 auto;

}

ul {
    list-style: none;
    color: #1F1F1F;
}

/*texto link*/
ul a {
    text-decoration: none;
    color: #1F1F1F;
}

/*confg texto parágrafo*/
p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
    

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 92px;
}

.título {
    display: inline-block;
    font-size: 30px;
    line-height: 28px;
    padding-left: 80px;
    padding-top: 12px;
}

.lista_menu li {
    display: inline-block;
    align-items: middle;
    height: 28px;
    margin: 0 32px;
    padding: 12px 12px; /*vai aumentar o espaço de clique*/
    line-height: 28px;
}

.pesquisa input {
    display: inline-block;
    width: 235px;
    height: 52px;
    border-radius: 50px;
    border: 0;
    background: #F2F2F2;
    margin: 20px 72px ;
/*config text figure*/
    text-align: left;
    padding-left: 40px;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

.carrinho {
    display: inline-block;
    border-radius: 50%;
    border: 0;
    width: 52px;  
    height: 52px;
    margin: 20px 72px 20px 12px;
/*config figure*/   
    background-image: url('../img/carrinho.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F2F2F2;
}


/*seção 01 - Sneak Ultralight*/

.seção01 {
    display: inline-block;
    margin-left: 200px;
    
}

.seção01 h2 {
    width: 581px;
    height: 220px;
    font-size: 104px;
    line-height: 104px;
    font-weight: 700;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 24px;
/*gradiente para letras*/
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.seção01 p {
    margin-left: 80px;
    width: 475px;
    height: 84px;
    margin-bottom: 108px;
}

.seção01 button {
    Width: 336px;
    Height: 84px;
    margin-left: 80px;
    padding: 28px 32px;
    border-radius: 12px;
    border: 2px solid #1F1F1F;
    background-color: white;
/*config imagem*/
    background-image: url('../img/mais.png');
    background-repeat: no-repeat;
    background-position: 275px center;
/*config texto*/
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.tenis {
    width: 500px;
    height: 541px;
    display:inline-block;
    margin-top: 100px;
    margin-right: 167px;
}


/*seção 02 - aside - cores do tênis*/

.seção02 {
    width: 1440px;
    height: 767px;
    margin: 200px 250px;
    background-color: #F3F3F3;

}

.seção02 h2 { 
    padding-top: 64px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.cores_tenis {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
} 

.cores_tenis img {
    height: 32px;
    width: 32px;
    padding-left: 20px;
}

.tenis_branco {
    width: 464px;
    height: 241.38px;
    padding-left: 488px;
}

.tenis_branco p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.separador {
    width: 341.18px;
    height: 13.65px;
    margin-left: 629px;
    background: #B7B7B7;
    opacity: 0.6;
    filter: blur(50px);
}

.seção02 button {
    width: 336px;
    height: 84px;
    margin-left: 552px;
    margin-top: 126px;
    border-radius: 12px;
/*config texto*/
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #F3F3F3;
}

/*seção03 - caracteristicas do tênis - Leveza e agilidade | Sensação de estabilidade*/

.seção03_row {
    display: flex;
    margin-top: 160px;
    align-content: space-between;
}

.seção03_row h3{
    margin-left: 80px;
    font-size: 64px;
    /*gradiente - título*/
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.seção03_row p {
    width: 581px;
    height: 112px;
    margin-left: 80px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.seção03_row_img {
    margin-left: 155px;
    width: 704px;
    height: 600px;
}

/*seção03 - caracteristicas do tênis - Amortecimento*/

.seção03_reverse{
    display: flex;
    margin-top: 160px;
    flex-direction: row-reverse;
    align-content: space-between;
}

.seção03_reverse h3 {
    margin-right: 80px;
    font-size: 64px;
    /*gradiente - título*/
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.seção03_reverse p {
    width: 581px;
    height: 112px;
    margin-right: 80px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.seção03_reverse_img {
    margin-right: 155px;
    width: 704px;
    height: 600px;
}


/*seção 04 - Corra como se o mundo dependesse de você*/
.seção04 {
    background-image: url("../img/corredor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
    margin-top: 200px;
    display: flex;
    align-content: ;
}

.seção04 h2 {
    color: #FFFFFF;
    font-size: 104px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -0.02em;
    margin-left: 22px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.seção04 img {
    width: 44px;
    height: 45px;
    margin-left: 24px;
    margin-top: 47px;
}

.seção04 h3 {
    color: #FFFFFF;
    font-size: 104px;
    letter-spacing: -0.02em;
    font-weight: 700;
    text-align: left;
    margin-top: 27px;
    margin-bottom: 0px;
}

/*seção 05 - Mapa | Formulário*/

.seção05 {
    display: flex;
    margin-top: 200px;
    justify-content: center;
}

.seção05_img {
    width: 827px;
    height: 838px;
    left: 80px;
    border-radius: 8px 0px 0px 8px;
}

.seção05_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 650px;
    height: 838px;
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
}

.seção05_form h3{
    color: #1F1F1F;
    font-size: 40px;
    font-weight: 700;
    margin-left: 48px;
    margin-top: 40px;
}

.seção05_form input[type="text"], [type="email"] {
    width: 517px;
    height: 76px;    
    background-color: #FFFFFF;
    border-radius: 12px;
    border: none;
    margin-left: 48px;
    margin-bottom: 24px;
    outline: none;
    /*texto*/
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #969696;
    padding-left: 28px;
}

.seção05_form input[type="text"]::placeholder, input[type="email"]::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: #969696;
}

.seção05_form textarea {
    width: 517px;
    height: 260px;
    border-radius: 12px;
    background: #FFFFFF;
    border: none;
    margin-left: 48px;
    outline: none;
/*texto*/
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-left: 28px;
    padding-top: 24px;
    color: #969696;
}

.seção05_form input[type="checkbox"] {
    width: 28px;
    height: 28px;
    border: 2px solid #D2D2D2;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 48px;
    vertical-align: -8px;
}

.seção05_checkbox {
    display: inline-block;
    color: #969696;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.seção05 input[type="submit"] {
    width: 550px;
    height: 84px;
    border-radius: 12px;
    outline: none;
    margin-left: 48px;
    background-color: #F3F3F3;
/*texto*/
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-align: center;
}

.rodapé {
    width: 100%;
    height: 306px;
    margin-top: 160px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    gap: 250px;
    padding-top: 56px;
}

.rodapé h2 {
    font-size: 20px;
    font-weight: 1000;
    text-align: left;
}

.rodapé li {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 12px;
    margin-left: -40px;
}

.RS {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.IG {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}
    

.FB {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

.TT {
    width: 33px;
    height: 33px;
    background-color: #1F1F1F;
    background-image: url(../img/Twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}


.assinatura {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
}

.assinatura h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

.final {
    text-align: center;
    width: 100%;
    height: 68px;
    background-color: #F2F2F2;
}

